* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: #1f2937;
    color: white;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #e5e7eb;
    font-weight: 500;
}

header nav a:hover {
    color: #ffffff;
    opacity: 0.5;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px;
    background-color: #1f2937;
    color: white;
    flex-wrap: wrap;
}

.top img {
    flex: 1;
    width: 450px;
    border: 1px solid black;
    border-radius: 15px;
}

.top .left {
    flex: 1;
    margin-right: 20px;
}

.top h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

.top p {
    margin-bottom: 20px;
}

.top button {
    padding: 10px 20px;
    background: #3882f6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.top button:hover {
    opacity: 0.8;
}

.info {
    padding: 70px;
    text-align: center;
}

.info-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.info-container h1 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-top: 20px;
}

.boxes {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
}

.box {
    width: 120px;
    height: 120px;
    border: 3px solid #3882f6;
    border-radius: 10px;
    margin: 20px;
}

.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.quote {
    display: flex;
    background-color: #E5E7EB;
    justify-content: space-between;
    align-items: center;
    padding: 100px 140px;
}

.quote p {
    font-size: 26px;
    font-weight: 300;
    color: #1f2937;
    margin-bottom: 20px;
}

.quote h3 {
    margin-top: 40px;
    font-weight: bolder;
    text-align: right;
}

.cta {
    display: flex;
    justify-content: space-around;
    padding: 70px 80px;
    flex-wrap: wrap;
}

.cta-container {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 40px 60px;
    width: 90%;
}

.cta-text {
    text-align: left;
}

.cta-container button {
    background: transparent;
    color: white;
    padding: 10px 30px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.cta-container button:hover {
    opacity: 0.8;
}

footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 40px;
}