* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: #1f2937;
    color: white;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #e5e7eb;
    font-weight: 500;
}

header nav a:hover {
    color: #ffffff;
    opacity: 0.5;
}