* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: #1f2937;
    color: white;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #e5e7eb;
    font-weight: 500;
}

header nav a:hover {
    color: #ffffff;
    opacity: 0.5;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px;
    background-color: #1f2937;
    color: white;
    flex-wrap: wrap;
}

.top img {
    flex: 1;
    max-width: 500px;
    max-height: 500px;
    border: 1px solid black;
    border-radius: 15px;
}

.top .left {
    flex: 1;
    margin-right: 20px;
}

.top h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

.top p {
    margin-bottom: 20px;
}

.top button {
    padding: 10px 20px;
    background: #3882f6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}